<h2>Şehir Listesi</h2>
<table>
    <thead>
        <tr>
            <th>Şehir</th>
            <th>Neyi Meşhur</th>
            <th>Plaka</th>
        </tr>
    </thead>
    <tbody id="cityList">

    </tbody>
</table>

<h2>Tarihi Yerleri İle Meşhur Şehirler</h2>
<table>
    <thead>
        <tr>
            <th>Şehir</th>
            <th>Tarihi Mekan</th>
        </tr>
    </thead>
    <tbody id="placeList">
    </tbody>
</table>

<h2>Yemeği İle Meşhur Şehirler</h2>
<table>
    <thead>
        <tr>
            <th>Şehir</th>
            <th>Yemek</th>
        </tr>
    </thead>
    <tbody id="foodList">
    </tbody>
</table>

<h2>Plakası Tek Haneli Olan Şehirler</h2>
<table>
    <thead>
        <tr>
            <th>Şehir</th>
            <th>Plaka</th>
        </tr>
    </thead>
    <tbody id="singleList">
    </tbody>
</table>

<h2>Plakası Çift Haneli Olan Şehirler</h2>
<table>
    <thead>
        <tr>
            <th>Şehir</th>
            <th>Plaka</th>
        </tr>
    </thead>
    <tbody id="pairList">
    </tbody>
</table>